@model TrashCollection.Models.Customer

@{
    ViewBag.Title = "Customer Hub";
}

<h2>Customer Hub</h2>
<div>
    <h4>
        @Html.DisplayFor(model => model.FirstName)
        @Html.DisplayFor(model => model.LastName)
    </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreetAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zip)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SuspendStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SuspendStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SuspendEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SuspendEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExtraPickupDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExtraPickupDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PickupDay)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PickupDay)
        </dd>
    </dl>
</div>
<h4>Customer Balance</h4>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Balance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>
    </dl>
</div>
<h4>Manage Your Services</h4>
<p>
    @Html.ActionLink("Change Pickup Day", "ChangePickup", Model) |
    @Html.ActionLink("Add a Special Pickup Date", "SetSpecialPickup",Model) |
    @Html.ActionLink("Change or Add Service Suspension", "ChangeSuspend",Model)
</p>
